In [4]:
import matplotlib as mpl
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import os, sys
import warnings
warnings.filterwarnings('ignore')
sns.sns_context('poster', font_scale=1.3)
import pandas_profiling
from sklearn.datasets import make_blobs
import time

In [5]:
df = pd.read_csv("redcard.csv")

## Data Evaluation

In [7]:
df.shape

(146028, 28)

In [9]:
df.describe()

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
count,145765.000000,143785.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,124621.000000,124621.000000,146028.000000,146028.000000,145865.000000,1.458650e+05,1.458650e+05,145865.000000,1.458650e+05,145865.000000
mean,181.935938,76.075662,2.921166,1.278344,0.708241,0.934581,0.338058,0.385364,0.011381,0.012559,0.264255,0.302862,1534.827444,29.642842,0.346276,1.969741e+04,6.310849e-04,0.452026,2.044023e+04,0.002994
std,6.738726,7.140906,3.413633,1.790725,1.116793,1.383059,0.906481,0.795333,0.107931,0.112889,0.295382,0.293020,918.736625,27.496189,0.032246,1.271262e+05,4.735857e-03,0.217469,1.306157e+05,0.019723
min,161.000000,54.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-0.047254,2.000000e+00,2.235373e-07,-1.375000,2.000000e+00,0.000001
25%,177.000000,71.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,641.000000,7.000000,0.334684,1.785000e+03,5.454025e-05,0.336101,1.897000e+03,0.000225
50%,182.000000,76.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,1604.000000,21.000000,0.336628,2.882000e+03,1.508847e-04,0.356446,3.011000e+03,0.000586
75%,187.000000,81.000000,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.250000,0.500000,2345.000000,44.000000,0.369894,7.749000e+03,2.294896e-04,0.588297,7.974000e+03,0.001002
max,203.000000,100.000000,47.000000,29.000000,14.000000,18.000000,23.000000,14.000000,3.000000,2.000000,1.000000,1.000000,3147.000000,161.000000,0.573793,1.975803e+06,2.862871e-01,1.800000,2.029548e+06,1.060660

In [10]:
df.dtypes

playerShort       object
player            object
club              object
leagueCountry     object
birthday          object
height           float64
weight           float64
position          object
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
photoID           object
rater1           float64
rater2           float64
refNum             int64
refCountry         int64
Alpha_3           object
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
dtype: object

## Analysing Output

In [12]:
columns = df.columns.tolist()
print(columns)

['playerShort', 'player', 'club', 'leagueCountry', 'birthday', 'height', 'weight', 'position', 'games', 'victories', 'ties', 'defeats', 'goals', 'yellowCards', 'yellowReds', 'redCards', 'photoID', 'rater1', 'rater2', 'refNum', 'refCountry', 'Alpha_3', 'meanIAT', 'nIAT', 'seIAT', 'meanExp', 'nExp', 'seExp']

In [13]:
df.height.mean()

181.93593798236887

In [14]:
df['height'].mean()

181.93593798236887

In [17]:
np.mean(df.groupby('playerShort').height.mean())

181.74372848007872

## Creating Tidy Tables

### 1. Players

In [22]:
player_index = 'playerShort'

In [23]:
player_cols = [
    'birthday',
    'height',
    'weight',
    'photoID',
    'rater1',
    'rater2'
]

In [24]:
# now, include all unique player with index value playerShorts

In [28]:
unique_players = df.groupby('playerShort').agg({col:'nunique' for col in player_cols})

In [29]:
print(unique_players)

                        birthday  height  weight  photoID  rater1  rater2
playerShort
aaron-hughes                   1       1       1        1       1       1
aaron-hunt                     1       1       1        1       1       1
aaron-lennon                   1       1       1        1       1       1
aaron-ramsey                   1       1       1        1       1       1
abdelhamid-el-kaoutari         1       1       1        1       1       1
...                          ...     ...     ...      ...     ...     ...
zoltan-stieber                 1       1       1        1       1       1
zouheir-dhaouadi               1       1       1        0       0       0
zoumana-camara                 1       1       1        1       1       1
zubikarai                      1       1       1        1       1       1
zurutuza                       1       1       1        1       1       1

[2053 rows x 6 columns]

In [30]:
unique_players.head()

                        birthday  height  weight  photoID  rater1  rater2
playerShort
aaron-hughes                   1       1       1        1       1       1
aaron-hunt                     1       1       1        1       1       1
aaron-lennon                   1       1       1        1       1       1
aaron-ramsey                   1       1       1        1       1       1
abdelhamid-el-kaoutari         1       1       1        1       1       1

In [33]:
# if values are same per player then this should be empty (and it is!)
unique_players[unique_players>1].dropna().head()

Empty DataFrame
Columns: [birthday, height, weight, photoID, rater1, rater2]
Index: []

In [34]:
# A slightly more elegant way to test uniqueness
unique_players[unique_players>1].dropna().shape[0]==0

True

#### This is an important helper function

In [36]:
def get_subgroup(dataframe, g_index, g_columns):
    '''This is a helper function'''
    g = dataframe.groupby(g_index).agg({col:'nunique' for col in g_columns})
    if(g[g>1].dropna().shape[0]!=0):
        print("Warning: You probably assumed this had all unique values but it doesn't")
    return dataframe.groupby(g_index).agg({col:'max' for col in g_columns})

In [38]:
players = get_subgroup(df, player_index, player_cols)

In [40]:
players.head()

                          birthday  height  weight     photoID  rater1  rater2
playerShort
aaron-hughes            08.11.1979   182.0    71.0    3868.jpg    0.25    0.00
aaron-hunt              04.09.1986   183.0    73.0   20136.jpg    0.00    0.25
aaron-lennon            16.04.1987   165.0    63.0   13515.jpg    0.25    0.25
aaron-ramsey            26.12.1990   178.0    76.0   94953.jpg    0.00    0.00
abdelhamid-el-kaoutari  17.03.1990   180.0    73.0  124913.jpg    0.25    0.25

In [58]:
def save_subgroup(dataframe, g_index, subgroup_name):
    save_subgroup_filename = "".join([subgroup_name])
    dataframe.to_csv(save_subgroup_filename)
    test_df = pd.read_csv(save_subgroup_filename, index_col = g_index)
    # Test that we recover what we send in
    if dataframe.equals(test_df):
        print("Passed! We created the subgroup")
    else:
        print("Warning -- Double-check-it.")

In [53]:
players = get_subgroup(df, player_index, player_cols)
players.head()

                          birthday  height  weight     photoID  rater1  rater2
playerShort
aaron-hughes            08.11.1979   182.0    71.0    3868.jpg    0.25    0.00
aaron-hunt              04.09.1986   183.0    73.0   20136.jpg    0.00    0.25
aaron-lennon            16.04.1987   165.0    63.0   13515.jpg    0.25    0.25
aaron-ramsey            26.12.1990   178.0    76.0   94953.jpg    0.00    0.00
abdelhamid-el-kaoutari  17.03.1990   180.0    73.0  124913.jpg    0.25    0.25

In [55]:
save_subgroup(players, player_index, "players")

Test-passed: we recover the equivalent subgroup dataframe.

### 2. Clubs

In [60]:
clubs_index = 'club'
clubs_cols = ['leagueCountry']
clubs = get_subgroup(df, clubs_index, clubs_cols)
clubs.head()

                leagueCountry
club
1. FC Nürnberg        Germany
1. FSV Mainz 05       Germany
1899 Hoffenheim       Germany
AC Ajaccio             France
AFC Bournemouth       England

In [64]:
clubs['leagueCountry'].value_counts()

England    48
Spain      27
France     22
Germany    21
Name: leagueCountry, dtype: int64

In [66]:
save_subgroup(clubs, clubs_index, "clubs", )

Passed! We created the subgroup

#### Try creating more tables like Referees, Countries, Dyads